<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${'$' + #numbers.formatDecimal(product.price, 1, 2)}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.category}"></td>
    </tr>
</table>
<a th:href="@{/v1/products/add}">Add New Product</a>
</body>
</html>
